.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.toolbar-row mat-form-field {
  flex: 1;
  max-width: 1400px;
}

.toolbar-row button {
  margin-right: 0.5rem;
  top: -8px;
}
