<p>providers-toolbar works!</p>

<section class="toolbar-row">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'providers-view.providers-toolbar.search' | translate }}</mat-label>
    <mat-icon matPrefix>{{ 'providers-view.providers-toolbar.search' | translate }}</mat-icon>
    <input matInput [(ngModel)]="searchTerm"
           placeholder="{{'providers-view.providers-toolbar.search' | translate}}..."/>
  </mat-form-field>
  <!--- filter Button -->
  <button matFab extended>
    <mat-icon>filter_list</mat-icon>
    {{'providers-view.providers-toolbar.filter' | translate}}
  </button>
  <!-- Add Provider Button -->
  <button mat-raised-button color="primary" (click)="openAddProviderDialog()">
    {{ 'providers-view.providers-toolbar.add-provider' | translate }}
  </button>
</section>
